.contact__content {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.left-contact {
  flex: 2;
  font-size: 1rem;
  line-height: 1.3rem;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}

.contact-item .icon {
  display: grid;
  grid-template-columns: 3rem 1fr;
}

.contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.left-contact h4 {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.left-contact p {
  margin: 0.6rem 0;
  line-height: 1.8rem;
}

.social-icons {
  display: flex;
  margin-top: 2rem;
}

.social-icons a {
  margin: 0 0.4rem;
}

.right-contact {
  flex: 3;
  margin-left: 3rem;
  flex-direction: column;
}

.input-form {
  margin: 1.3rem 0;
}

.input-form input,
textarea {
  background-color: var(--color-secondary-bg);
  color: var(--color-text-primary);
  font-size: 1rem;
  resize: none;
}

.input-form input::placeholder,
textarea::placeholder {
  color: var(--color-text-primary);
}

.inputs {
  display: flex;
}

.inputs input:last-child {
  margin-left: 1.5rem;
}

.submit-button button {
  background-color: var(--color-bg);
  font-weight: 700;
  border: 2px solid var(--color-secondary-bg);
  color: var(--color-text-primary);
  width: 40%;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: var(--color-secondary-bg);
  transition: all 0.6s ease-in-out;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .contact__content {
    padding: 1rem 1rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .contact-form .submit-button button {
    width: 100%;
  }

  .right-contact {
    margin-left: 0rem;
  }

  .left-contact h4 {
    font-size: 1.3rem;
    text-align: center;
  }

  .left-contact h4,
  .left-contact p,
  .left-contact .contact-info {
    display: none;
  }

  .contact-social-media {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contact__content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .right-contact {
    margin-left: 0;
  }
  .right-contact,
  .left-contact {
    width: 80%;
  }
}
