.home-content {
  justify-content: center;
  gap: 7rem;
  width: 90%;
}

.title__name {
  color: var(--color-green);
}

.title__description {
  color: var(--color-cyan);
}

.home-description__title {
  font-size: 2rem;
  font-weight: 700;
}

.title .text {
  position: relative;
}

.text.title__description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  border-left: 2px solid var(--color-cyan);
  animation: animate 4s steps(15) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.home-description {
  width: 30rem;
}

.home-description p {
  text-align: justify;
}

.profile-pic {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .home-content {
    width: 100%;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .profile-pic {
    width: 13rem;
    height: 13rem;
  }

  .home-description {
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-description p {
    font-size: 0.9rem;
    margin: 1rem 0rem;
    text-align: justify;
  }

  .home-description .title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .home-content {
    width: 100%;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .profile-pic {
    width: 15rem;
    height: 15rem;
  }
  .home-description {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-description .title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-description p {
    font-size: 1.2rem;
    margin: 1rem 0rem;
    text-align: justify;
  }

  .home-description {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
