header {
  color: var(--color-text-primary);
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
}

.section {
  padding: 3rem 12rem;
  min-height: 70vh;
  transform: translateY(-100%) scale(0);
  transition: var(--transition);
}

.section-content {
  display: none;
  transform: translateY(0) scale(1);
}

@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.active {
  display: block;
  animation: scaleAnim 0.7s ease-in-out;
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Media queries */
@media screen and (max-width: 764px) {
  header {
    padding: 0;
  }

  .section {
    padding: 1.5rem 1.5rem;
  }

  .main-content {
    height: 100%;
  }
}

@media screen and (min-width: 765px) and (max-width: 1250px) {
  .section {
    padding: 3rem 5rem 1.5rem 3rem;
  }

  .main-content {
    height: 100%;
  }
}
