.nav-menu {
  position: fixed;
  z-index: 10;
  top: 20%;
  right: 1%;
}

.list-icons {
  width: 5rem;
}

.active-btn {
  background-color: var(--color-comment);
  color: var(--color-text-primary);
  transition: var(--transition);
}

/* Media queries */
@media screen and (max-width: 480px) {
  .nav-menu {
    position: fixed;
    z-index: 10;
    top: 20%;
    right: -6%;
  }
}
