.nav-menu-tech {
  top: 40%;
}

.list-icons .icon-tech:hover {
  background-color: var(--color-comment);
  color: var(--color-text-primary);
}

.section-tech {
  transform: translateY(0) scale(1);
  padding-bottom: 0.5rem;
}

.tech-section {
  flex-direction: column;
}

.section-title {
  flex-direction: column;
}

.section-title i {
  font-size: 5rem;
}

.section-title h4 {
  font-size: 1.1rem;
  margin-top: 0.4rem;
}

.website-link {
  transition: var(--transition);
  color: var(--color-text-secondary);
}

.website-link:hover {
  color: var(--color-text-primary);
  text-decoration: underline;
}

.section-title p {
  font-size: 0.8rem;
}

.review-description li {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
}

.review-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.review-description li p {
  font-size: 0.9rem;
}

.tech-review-container {
  margin: 1.3rem 0;
  display: flex;
  justify-content: space-between;
}

.tech-review {
  width: 30rem;
}

.tech-review:last-child {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tech-review h4 {
  font-size: 1.1rem;
}
.tech-projects {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.tech-projects h4 {
  font-size: 1.1rem;
  margin: 1rem;
  text-align: center;
}

.companies {
  margin-top: 0.7rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.companie-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--color-bg);
  transition: var(--transition);
}

.companie-image:hover {
  border-color: var(--color-text-primary);
}

.icon-tech__footer {
  font-size: 1.7rem;
  background-color: var(--color-bg);
  color: var(--color-text-secondary);
  transition: var(--transition);
}

.icon-tech__footer:hover {
  cursor: pointer;
  color: var(--color-text-primary);
}

.custom-tech-icon {
  width: 6rem;
  height: 6rem;
  cursor: default;
  pointer-events: none;
}

.custom-tech-icon .tech-icon__project {
  width: 4rem;
  height: 4rem;
}

.custom-tech-icon .nestjs,
.typescript {
  background-size: 4rem 4rem;
}

.custom-tech-icon .typescript {
  background-size: 4rem 4rem;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .section-title h4 {
    text-align: center;
  }

  .tech-review-container {
    flex-direction: column;
    gap: 2rem;
  }

  .tech-section {
    width: 20rem;
  }
  .tech-review,
  .tech-review:last-child {
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .review-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review-description li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review-description li p {
    text-align: justify;
    width: 15rem;
  }

  .companies {
    gap: 0.5rem;
  }

  .companie-image {
    width: 2.3rem;
    height: 2.3rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1150px) {
  .section-title h4 {
    text-align: center;
  }

  .tech-review-container {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .tech-section {
    width: 30rem;
  }
  .tech-review,
  .tech-review:last-child {
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .review-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review-description li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review-description li p {
    text-align: justify;
    width: 15rem;
  }

  .companies {
    gap: 0.5rem;
  }

  .companie-image {
    width: 2.3rem;
    height: 2.3rem;
  }
}
