.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.buttons-full {
  border-radius: 1.85rem;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 1.1rem;
  outline: none;
  border: none;
  width: 100%;
}

.icon-buttons {
  font-size: 1.4rem;
  border-radius: 50%;
  width: 3.4rem;
  height: 3.4rem;
  background-color: var(--color-secondary-bg);
  color: var(--color-text-secondary);
}

.button-effect {
  padding: 1rem;
  margin: 0.7rem 0;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.icon-social:hover {
  cursor: pointer;
  background-color: var(--color-comment);
  color: var(--color-text-primary);
  transition: var(--transition);
}

.custom-icon .test-tech {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(99%) sepia(3%) saturate(46%) hue-rotate(220deg)
    brightness(117%) contrast(96%);
}

.custom-icon {
  cursor: pointer;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  transition: var(--transition);
}

.custom-icon:hover {
  background-color: var(--color-text-primary);
}
