.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.buttons-full {
  border-radius: 1.85rem;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 1.1rem;
  outline: none;
  border: none;
  width: 100%;
}

.icon-social {
  font-size: 1.4rem;
  border-radius: 50%;
  width: 3.4rem;
  height: 3.4rem;
  background-color: var(--color-secondary-bg-dark);
  color: var(--color-text-secondary-dark);
}

.icon-social:hover {
  cursor: pointer;
  background-color: var(--color-comment-dark);
  color: var(--color-text-primary-dark);
  transition: var(--transition);
}
