@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  /********** FONT-FAMILY **********/
  --font-family-primary: "JetBrains Mono", monospace;

  /********** COLORS DARK THEME **********/
  --color-bg-dark: #282a36;
  --color-text-dark: #fafafa;
  --color-comment-dark: #6272a4;
  --color-cyan-dark: #8be9fd;
  --color-green-dark: #50fa7b;
  --color-orange-dark: #ffb86c;
  --color-pink-dark: #ff79c6;
  --color-purple-dark: #bd93f9;
  --color-red-dark: #ff5555;
  --color-yellow-dark: #f1fa8c;

  /********** COLORS LIGHT THEME **********/
  --color-bg-light: #fafafa;
  --color-text-light: #383a42;
}
