@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  /********** FONT **********/
  --font-family-primary: "Poppins", sans-serif;
  --font-size: 1.1rem;

  /********** COLORS DARK THEME **********/
  --color-bg: #282a36;
  --color-secondary-bg: #44475a;
  --color-text-primary: #fafafa;
  --color-text-secondary: #fafafaa8;
  --color-comment: #6272a4;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-purple-sec: #bd93f996;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;

  /********** COLORS LIGHT THEME **********/
  --color-bg-light: #fafafa;
  --color-text-light: #383a42;

  /********** OTHERS **********/
  --box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.4s ease-in-out;
  --transition-theme: all 0.1s ease-in-out;
}
